html,
body 

h3 {font-size: 12pt}
tt {font-size: 10pt}

<style type="text/css">
a:link {color:#FFFFFF;
	text-decoration: none;}
a:visited {color:#EAE6E6;	
	text-decoration: none;}
a:active {color:#FFFFFF;
	text-decoration: none;}
a:hover {color:FE0101;
	text-decoration: none;}
a:font {color: #FFFFFF;
	text-decoration: none;}



footer position
{
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:99%;
   height:60px;   /* Height of the footer */
   background:;
}